[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
    diffFilter = delta --color-only	
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictStyle = zdiff3		
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[alias]
	# http://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"

	# side-by-side diff
	diffwide = -c delta.features=side-by-side diff

	# `git log` with patches shown with difftastic.
	dlog = -c diff.external=difft log --ext-diff
	dl = -c diff.external=difft log -p --ext-diff
	# Show the most recent commit with difftastic.
	dshow = -c diff.external=difft show --ext-diff
	ds = -c diff.external=difft show --ext-diff
	# `git diff` with difftastic.
	ddiff = -c diff.external=difft diff
	dft = -c diff.external=difft diff
	
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[github]
	user = anandthakker
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[commit]
[init]
	defaultBranch = main
